<div class="container" style="padding-top: 60px;">
  <h1 class="page-header">Edit Profile</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="{{this.requestService.editableUser.avatar}}" class="rounded-circle" alt="avatar">
        <h5>{{this.requestService.editableFirstName | flcap}} {{this.requestService.editableLastName | flcap}}</h5>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      
      <h3>Personal info</h3>
      <form #editForm="ngForm" class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" pattern="[a-zA-Z ]*" required name="firstName" #firstname="ngModel" type="text" [(ngModel)]="this.requestService.editableFirstName">
          </div>
          <div class="alert alert-danger" *ngIf="firstname.invalid">
                  Please use only lowercase or uppercase letters.
          </div>

        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" pattern="[a-zA-Z ]*" required name="lastName" #lastname="ngModel" type="text" [(ngModel)]="this.requestService.editableLastName">
          </div>
          <div class="alert alert-danger" *ngIf="lastname.invalid">
                  Please use only lowercase or uppercase letters.
          </div>
        </div>
       
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button class="btn btn-primary"  [disabled]="!editForm.valid" (click)="saveChanges()" >Save Changes</button>
            <span></span>
            <button class="btn btn-default" (click)="cancelChanges()" type="reset">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>