.border{
    width:800px;
    margin-top:100px;
    padding: 80px;
    border: 1px solid #00B2FF;
    border-radius:20px;
    transition: .5s ease;
}

.border:hover{
    margin-top:90px;
    box-shadow: 0px 4px 10px #0033FF;
}


.ng-valid:not(form){
    border:1px solid #045E04;
}

.ng-invalid:not(form).ng-untouched{
    border:1px solid blue;
    
}

.ng-invalid:not(form).ng-touched{
    outline-color: red;
    border:1px solid red;
}
