<div class="container">

    
    <div class="row justify-content-center">
        <div class="col-md-auto border">
            <h2>Login</h2>
            <form novalidate name="form" #form="ngForm" (submit)="login()">
                <div class="form-group" >
                    <label for="email">Email</label>
                    <input type="text" class="form-control" email-validator name="email" #userEmail="ngModel" [(ngModel)]="email" required />
                    <div *ngIf="!email" class="help-block">Email is required</div>
                    <div class="alert alert-danger" *ngIf="userEmail.errors && userEmail.touched">
                        Please insert correct Email.
                        Example: something@do.com 
                    </div>
                </div>
                <div class="form-group" >
                    <label for="password">Password</label>
                    <input type="password" class="form-control" pass-validator name="password" #userPassword="ngModel" [(ngModel)]="password" />
                    <div *ngIf="!password" class="help-block">Password is required.</div>
                    <div class="alert alert-danger" *ngIf="userPassword.errors && userPassword.touched">
                        <ul>
                            <li>Password:</li>
                            <li>Must be 8 characters long.</li>
                            <li>Including one uppercase letter.</li>
                            <li>Including one lowercase letter.</li>
                            <li>Including one digit.</li>
                        </ul>
                    </div>
                </div> 
                <div class="form-group">
                    <button [disabled]="!form.valid" class="btn btn-primary btn-block" (click)="login()"> Log <i class="fa fa-sign-in" aria-hidden="true"></i> in </button>
                </div>
            </form>
        </div>
        
    </div>
</div>