<nav aria-label="Page navigation example" class="paging">
  <ul class="pagination justify-content-center">
    
         <li class="page-item" *ngFor="let num of paginationArr; let i = index" (click)="load(i+1)"><a class="page-link">{{i+1}}</a></li>
  </ul>
</nav>