<nav class="navbar navbar-dark bg-dark" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='' >Javadyan Narek</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-outline-primary my-1 my-sm-2" (click)="logout()" > Log <i class="fa fa-sign-out" aria-hidden="true"></i> out </button>
    </ul>
  </div>
</nav>

