<div class="container">
    <div class="row  col-md-12 col-md-offset-1 ">
    <table class="table table-striped table-inverse">
    <thead>
      <button class="btn btn-outline-success my-2"   (click)="addModal('show')"><i class="fa fa-plus-square" aria-hidden="true"></i> Add user</button>
        <tr>
            <th>ID <button class="sortButton" (click)="sort('id')"><i class="fa fa-sort" aria-hidden="true"></i></button></th>
            <th>Firstname <button class="sortButton" (click)="sort('first_name')"><i class="fa fa-sort" aria-hidden="true"></i></button></th>
            <th>Lastname <button class="sortButton" (click)="sort('last_name')"><i class="fa fa-sort" aria-hidden="true"></i></button></th>
            <th>Avatar </th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr *ngFor="let user of requestService.users; let i=index" >
                <td>{{user.id}}</td>
                <td>{{user.first_name | flcap}}</td>
                <td>{{user.last_name | flcap}}</td>
                <td><img class="img-thumbnail" src="{{user.avatar}}" alt=""></td>
                <td class="text-center">
                    <a class="btn btn-info btn-sm" (click)="editUser(user)">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      Edit
                    </a>
                    <a  class="btn btn-danger btn-sm" (click)="confirmDelete(i, user)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                      Delete
                    </a>
                </td>
            </tr>
    </table>
    </div>
</div>

   
<!-- Delete Confirmation popup window -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span>Confirm your choice, delete: {{currentUser.first_name | flcap}} {{currentUser.last_name | flcap}} ?</span></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteModal('hide')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button id="btn1" name="btn1" class="btn btn-default" (click)="deleteModal('hide')">Cancel</button>
        <button id="btn2" name="btn2" class="btn btn-danger" (click)="deleteUser(currentIndex, currentUser)">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<app-pagination (onLoad)="loadUser($event)"></app-pagination>

<!-- Add Confirmation popup window -->

<div class="modal fade" id="addModal" tabindex="-1" role="dialog">
  <form  [formGroup]="addForm" novalidate >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add New User</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="addModal('hide')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="form-group">
          <label for="addname">Name</label>
          <input type="text" class="form-control" pattern="[a-zA-Z ]*" formControlName="userName" id="addname" #name [(ngModel)]="addName" placeholder="Name">
          <div class="alert alert-danger" *ngIf="addForm.controls['userName'].invalid && addForm.controls['userName'].touched">
                  Please insert name.
          </div>
          <div class="alert alert-danger" *ngIf="addForm.controls['userName'].invalid && addForm.controls['userName'].dirty">
                  Please use only lowercase or uppercase letters.
          </div>
              
        </div>
        <div class="form-group">
          <label for="addsurname">Surname</label>
          <input type="text" class="form-control"  pattern="[a-zA-Z ]*" formControlName="userLastname" id="addsurname" #lastname [(ngModel)]="addSurname" placeholder="Surname">
           <div class="alert alert-danger" *ngIf="addForm.controls['userLastname'].invalid && addForm.controls['userLastname'].touched">
                  Please insert lastname.
          </div>
          <div class="alert alert-danger" *ngIf="addForm.controls['userLastname'].invalid && addForm.controls['userLastname'].dirty">
                  Please use only lowercase or uppercase letters.
          </div>
        </div>
      </div>
      
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"  [disabled]="!addForm.valid" (click)="confirmAddNewUser(name.value, lastname.value)">Add</button>
        <button type="button" class="btn btn-secondary"  (click)="addModal('hide')" >Cancel</button>
      </div>
    </div>
  </div>
  </form>
</div>

